<div class="row intro">
  <div class="span12 before_click">
    <%= image_tag('intro/big_logo_complete.png')%>
    <button type="button">Open</button>
  </div>
</div>
<span class="intro_page_partials">
  <%= render 'about_content' %>
</span>
<!-- <div class="after_click">
  <div class="span6 first_half">
    <%= image_tag('intro/big_logo_first_half.png',    :class => 'logo-image')%>
    <%= image_tag('intro/open_button_first_half.png', :class => 'button-image')%>
  </div>
  <div class="span6 second_half">
    <%= image_tag('intro/big_logo_second_half.png',    :class => 'logo-image')%>
    <%= image_tag('intro/open_button_second_half.png', :class => 'button-image')%>
  </div>

</div> -->