<!DOCTYPE html>
<html>
  <head>
    <title>Dnc</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container <%= decide_css_class %>">
      <% if @intro_page %>
        <span class="intro_page_partials">
      <% end %>
        <%= render 'layouts/nav' %>
        
      <%= yield %>    
    </div>
  </body>
</html>
